nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #222;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #f39c12;
  }
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
  }
  
  footer a {
    color: #f39c12;
    text-decoration: none;
    margin: 0 5px;
  }
  
  footer a:hover {
    color: white;
  }
  
  